@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color: rgba(0, 0, 0, 0.557);
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    align-items: center;
    font-size: .8em;
}

.logo{
    position: absolute;
    color: white;
    left: 1%;
    top: 6px;
}

.logo img{
    position: relative;
    height: 20px;
    top: 6px;
}

.menu__itens{
    display: flex;
    width: 100vw;
    justify-content: right;
    gap: 50px;
    padding-right: 30px;
}

.menu__itens > a{
    text-decoration: none;
    color: aliceblue;

    
}











main{
    display: none;
}